body {
    color: rgb(79,20,24);
    background: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
}

 header{
    border-bottom: solid 5px rgb(0, 0, 0);
    padding: 20px;
    font-size: 40px;
    color: rgb(0, 0, 0);
} 

section {
    border-bottom: solid 5px rgb(79, 20, 24);
    background: rgb(182 136 142);
    padding-bottom: 80px;
    padding-top: 40px;
    justify-content: center;
}

.chamada-texto {
    margin-left: 5%;
}

.video1 {
    margin-left: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
